[submodule "third_party/nlohmann_json"]
	path = third_party/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "third_party/DPP"]
	path = third_party/DPP
	url = https://github.com/brainboxdotcc/DPP.git
[submodule "third_party/whisper.cpp"]
	path = third_party/whisper.cpp
	url = https://github.com/ggerganov/whisper.cpp.git
[submodule "third_party/piper"]
	path = third_party/piper
	url = https://github.com/rhasspy/piper.git
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third_party/cpp-httplib"]
	path = third_party/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
